@font-face {
    font-family: "cursed-timer";
    src: url("cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf") format("truetype");
}

body {
    margin: 0;
    
    
}

.container {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    /* flex: 0 1 100%; */
    width: 550px;
    height: 400px;
    background-color: #9AABD8;
    align-items: center;
    margin: 100px auto;
    padding: 20px 0;
    box-sizing: border-box;
}

.score{
    font-family: "cursed-timer";
    /* border: 4px solid black; */
    border-radius: 5px;
    padding: 20px 20px;
    background-color: black;
    color: red;
    font-size:50px;
    text-align: center;
}

h3{
    font-size: 45px;
    color: white;
    margin-bottom: 0px;
}

h1{
    margin: 15px 0px;;
}

button{
    font-family:"cursed-timer";
    margin: auto 6px;
    padding: 4px 6px;
    background-color: #9AABD8;
    border: 2px solid white;
    border-radius: 4px;
    color:white;
}

#all-clear{
    font-size: 30;
    margin-top: 70px;
    padding: 10;
}